
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @user.employee.name %>,</p>
    <p>&nbsp;</p>
    <p>&nbsp; &nbsp; Your request for nomination of <%= "#{@nomination.nominees.last.user.employee.name} (#{@nomination.nominees.last.user.employee.emp_code})" %> for
      <%= @nomination.award.title %> award is successfully registered. We will keep you updated.</p>
    <p>&nbsp;</p>
    <p>Thanks for joining and have a great day!</p>
    <p>Deepak Rewards &amp; Recognitions.</p>
  </body>
</html>