<div class="cover">
    <center><br><br><br>  
        <a href="https://dnlapps.dnlpune.com/gurukul/batch" class="simple-text">
            <img src="/assets/logo.png" width="300px">
        </a>
        <h3 style="padding:10px;font-weight: bolder;"> Rewards & Recognition</h3>
        <h5>Please Wait..</h5>
    </center>
</div>